*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'EB Garamond', serif;

}

.main_cointainer{
    font-weight: 800;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 30px;
    width: 80%;
    height: 1000px;
    background-color: rgba(54, 41, 41, 0.048);
}
.img_wrapper{
    padding: 25px;
    background-color: rgb(2, 2, 25,0.2  );
}
.img_wrapper img{
    border-radius: 50px;
}
.btn_wrapper{
    background-color: rgb(2, 2, 25,0.2  );
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn_wrapper button{
    font-weight: 900;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: aqua;
    border: 0;
    border-radius: 50px;
    transition: 0.2s all ease;
}
.btn_wrapper button:hover{


background-color: rgb(7, 216, 216) ;
border-radius: 25px;
height: 60px;
width:110px;
}


